<div class="profile-container">
   <img style="width:100px;height:100px;" src=<%= @resume_service.avatar_path %> class="rounded-circle">
   <h1 class="name"><%= @resume_service.name %></h1>
   <h3 class="tagline"><%= @resume_service.specialization %></h3>
</div>