<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stas Vereskovsky - Ruby Developer</title>
    
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="description" content="Stas Vereskovsky resume (Ruby developer)">
    <meta name="author" content="Stas Vereskovsky">    
    <!-- Google Font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,400italic,300italic,300,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- FontAwesome JS-->
	<script defer src="/assets/fontawesome/js/all.min.js"></script>
    <!-- Global CSS -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/css/bootstrap.min.css">   
    <!-- Theme CSS -->  
    <link id="theme-style" rel="stylesheet" href="/assets/css/main.css">
    <link rel="icon" href="/assets/icons/ruby_favicon.ico">
</head> 

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img style="width:100px;height:100px;" src="/assets/images/avatar.jpg" class="rounded-circle">
                <h1 class="name">Stas Vereskovsky</h1>
                <h3 class="tagline">Ruby Developer</h3>
            </div><!--//profile-container-->

            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fas fa-envelope"></i><a href="mailto: vereskovskystas@gmail.com">vereskovskystas@gmail.com</a></li>
                    <li class="github"><i class="fab fa-github"></i><a href="https://github.com/Equinox-01/" target="_blank">github.com/Equinox-01</a></li>
                    <li class="instagram"><i class="fab fa-instagram"></i><a href="https://instagram.com/equinox__01/" target="_blank">instagram.com/equinox__01/</a></li>
                    <li class="linkedin"><i class="fab fa-linkedin-in"></i><a href="https://linkedin.com/in/stas-vereskovsky-529136163" target="_blank">linkedin.com/in/stas-vereskovsky-529136163/</a></li>
                </ul>
            </div><!--//contact-container-->

            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>Russian <span class="lang-desc">(Native)</span></li>
                    <li>Belarusian <span class="lang-desc">(Native)</span></li>
                    <li>English <span class="lang-desc">(Intermediate)</span></li>
                </ul>
            </div><!--//interests-->
            
            <div class="interests-container container-block">
                <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>Sci-Fi</li>
                    <li>MMA</li>
                    <li>Photography</li>
                </ul>
            </div><!--//interests-->
            
        </div><!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
            <section class="section experiences-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-briefcase"></i></span>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Ruby Developer</h3>
                            <div class="time">February 2019 - July 2020</div>
                        </div><!--//upper-row-->
                        <div class="company">Parabox<br/>Belarus, Minsk</div>
                    </div><!--//meta-->
                    <div class="details">
                        Backend development with Rails API<br/>
                        Work with RSpec on the principle of TDD<br/>
                        Work with rswag<br/>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Junior Ruby Developer</h3>
                            <div class="time">September 2018 - December 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">Cybergizer<br/>Belarus, Minsk</div>
                    </div><!--//meta-->
                    <div class="details">
                        Configurate CI on GitLab<br/>
                        Work with RSpec<br/>
                        Backend development with Rails API<br/>
                        Frontend development with React Redux<br/>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->
            
            <section class="section education-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fa fa-university"></i></span>Education</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="university-title">Belarusian State University of Informatics and Radioelectronics</h3>
                            <div class="time">2020 - Present</div>
                        </div><!--//upper-row-->
                        <div class="degree">Master's Degree</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Software engineering</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="university-title">Belarusian State University of Informatics and Radioelectronics</h3>
                            <div class="time">2015 - 2020</div>
                        </div><!--//upper-row-->
                        <div class="degree">Bachelor's degree</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Information technology software</p>
                    </div><!--//details-->
                </div><!--//item-->
            </section><!--//section-->

            <section class="section experiences-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-book"></i></span>Certificates</h2>
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="courses-title">Rubizza Training Center Certificate</h3>
                            <div class="time">September 2018 - Perpetual</div>
                        </div><!--//upper-row-->
                        <div class="company">Rubizza Survival Camp</div>
                    </div><!--//meta-->
                </div><!--//item-->
            </section><!--//section-->

            <section class="section projects-section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-archive"></i></span>Projects</h2>
                <div class="item">
                    <span class="project-title"><b>Relativity</b></span> - <span class="project-tagline">
                        Fitness application on Rails & React<br/>
                        Diploma project for BSUIR<br/>
                        CI system used to check RSpec, Brakeman and Rubocop violation<br/>
                        Used docker containers<br/>
                        DigitalOcean deployment with Github Action CD<br/>
                    </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><b>SciFi Battle</b></span> - <span class="project-tagline">
                        Game on UE4 about Space battles<br/>
                        Based on Star Trek franchise<br/>
                    </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><b>Webcam Security</b></span> - <span class="project-tagline">
                        Webcam Security is a ruby application which work with OpenCV and using Telegram-bot for notification.<br/>
                    </span>
                </div><!--//item-->
            </section><!--//section-->
            
            <section class="skills-section section">
                <h2 class="section-title"><span class="icon-holder"><i class="fas fa-rocket"></i></span>Skills &amp; Proficiency</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Ruby on Rails</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 90%" aria-valuenow="9" aria-valuemin="0" aria-valuemax="10"></div>
						</div>                               
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Git</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 90%" aria-valuenow="9" aria-valuemin="0" aria-valuemax="10"></div>
						</div>                               
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Javascript</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 80%" aria-valuenow="8" aria-valuemin="0" aria-valuemax="10"></div>
						</div>                              
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">React</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 70%" aria-valuenow="7" aria-valuemin="0" aria-valuemax="10"></div>
						</div>                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">HTML5, CSS</h3>
                        <div class="progress level-bar">
							<div class="progress-bar theme-progress-bar" role="progressbar" style="width: 80%" aria-valuenow="8" aria-valuemin="0" aria-valuemax="10"></div>
						</div>                                
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Docker</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 80%" aria-valuenow="8" aria-valuemin="0" aria-valuemax="10"></div>
						</div>                                 
                    </div><!--//item-->
                                        
                    <div class="item">
                        <h3 class="level-title">SQL</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 70%" aria-valuenow="7" aria-valuemin="0" aria-valuemax="10"></div>
						</div>                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">C#</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 80%" aria-valuenow="8" aria-valuemin="0" aria-valuemax="10"></div>
						</div>                                  
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">PHP</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 60%" aria-valuenow="6" aria-valuemin="0" aria-valuemax="10"></div>
						</div>                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">C++</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 80%" aria-valuenow="8" aria-valuemin="0" aria-valuemax="10"></div>
						</div>                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">WinAPI</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 90%" aria-valuenow="9" aria-valuemin="0" aria-valuemax="10"></div>
						</div>                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Photoshop & Pixelmator</h3>
                        <div class="progress level-bar">
						    <div class="progress-bar theme-progress-bar" role="progressbar" style="width: 90%" aria-valuenow="9" aria-valuemin="0" aria-valuemax="10"></div>
						</div>                                 
                    </div><!--//item-->
                </div>  
            </section><!--//skills-section-->
            
        </div><!--//main-body-->
    </div>
 
    <footer class="footer">
        <div class="text-center">
            <!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
            <small class="copyright">Designed with <i class="fas fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
            <br/>
            <small class="copyright">Extended for personal purposes by <a>Stas Vereskovsky</a></small>
        </div><!--//container-->
    </footer><!--//footer-->
        
</body>
</html> 
